{{ form.label }}
{{ form.id }}

<div class="dialog-inline-elements">
  <div class="dialog-inline-item">{{ form.type }}</div>
  <div class="dialog-inline-item">{{ form.dialog_type }}</div>
  <div class="dialog-inline-item">{{ form.dialog_width }}</div>
</div>

{{ form.entity_types }}
{{ form.selection_container }}
{{ form.routes }}
{{ form.status }}
{{ form.actions }}
{{ form|without('label', 'id', 'type', 'dialog_type', 'dialog_width', 'element_key', 'element_key_other', 'button_element_key', 'button_element_key_other', 'entity_types', 'selection_container', 'status', 'actions', 'routes') }}
